DATABASE_URL=postgresql://user:password@db:5432/app
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=app


SECRET_KEY=supersecret
ALGORITHM=HS256
HASHIDS_SALT=change-me

STORAGE_DIR=/public/data
HOST_STORAGE_DIR=./data
BROWSER_BINARY=chromium-browser
